@model Test.Models.RecordParamsModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Подтверждение записи</title>
</head>
<body>
    <div>
        <h4>Вы записываетесь к специалисту @Model.Doctor.ToString() на @Model.Cell.Time.ToString()</h4>
        <form method="post" action="Record">
            <input type="hidden" value="@Model.Cell.Id" name="CellId" />
            <input type="hidden" value="@Model.Cell.Time.ToShortDateString()" name="SelDate" />
            <p>Введите свое имя: </p>
            <input type="text" name="Name" required />
            <p>Введите свой телефон:</p>
            <input type="text" name="PhoneNumber" value="+7" required pattern="+7[0-9]{10}" />
            <br /><br />
            <input type="button" onclick="history.back();" value="Отмена" /> 
            <input type="submit" value="Подтвердить" />
        </form>
    </div>
</body>
</html>

