@model Test.Models.RecordParamsModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Подтверждение записи</title>
</head>
<body>
    <div>
        <h4>Вы записываетесь к специалисту @Model.Doctor.ToString() на @Model.Cell.Time.ToString()</h4>
        <form method="post" action="Record">
            <input type="hidden" value="@Model.Cell.Id" name="CellId" />
            <table>
                <tr>
                    <td><p>Введите свое имя </p></td>
                    <td><input type="text" name="Name" /> </td>
                </tr>
                <tr>
                    <td><p>Введите телефон :</p></td>
                    <td>
                        <input type="text" name="PhoneNumber" />
                    </td>
                </tr>
                <tr><td><input type="submit" value="Подтвердить" /> </td><td></td></tr>
            </table>
        </form>
    </div>
</body>
</html>

