.horizontal-line {
    height: 7px;
    width: 100%;
    border-top: 1px solid #dddddd;
    padding-left: 10px
}

.scrollable-list {
    border: 1px solid #ccc;
    height: 300px;
    overflow-y: scroll;
}

th {
    text-align: center
}

td {
    text-align: center
}

